<li>
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <h5>Conversation avec Marc</h5>
    </div>

  
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      <div class="write">
        <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
          <%= f.hidden_field :user_id, value: user.id %>
          <%= f.text_area :body, class: "form-control" %>
          <%= f.submit "Send", class: "btn btn-success sendChat" %>
        <% end %>
      </div>
  </div>
</li>
