<body id="home">
  <div class="mainhome">
    <nav class="navbar">
      <div class="navigation">
        <div id=logohome>
          <%= image_tag("logo.png", id: "logo1")%>
        </div>
        <div class="log">

          <%= link_to "Sign in",   new_user_registration_path, :class => "buttonsignin"%>
        </div>
      </nav>

      <div class="content">
        <div class="main-carousel" data-flickity='{ "autoPlay": 3000, "pauseAutoPlayOnHover": false, "wrapAround": true, "imagesLoaded": true}'>
          <div class="carousel-cell"><%= image_tag("img/img3.jpg")%></div>
          <div class="carousel-cell"><%= image_tag("img/img2.jpg")%></div>
          <div class="carousel-cell"><%= image_tag("img/img4.jpg")%></div>
        </div>
      </div>
      <div class="section">

        <div class="button">
          <%= link_to "Cliquez ici pour commencer !",  quiz_show_path, :class => "buttonstart", method: :get%>
        </div>
      </div>
    </div>
  </body>
