@import "bootstrap-sprockets";
@import "bootstrap";


/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



body{
  background-image: image-url("fond5.png");
  background-repeat: no-repeat;
  background-position: center 0px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: auto;
}
textarea:focus, input:focus{
    outline: none;
}



/*####### CONNEXION PAGES ######## */

.main{
  border-radius: 10px;
  color: white;
  vertical-align: middle;
  width: 100%;
  height:100%;
  margin: auto;
  display: inline-block;
}

.container{
  width: 600px;
}

#containerLogo{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

#logo{
  width: 250px;
}

.containerTitle{
  background-color: #0D436C;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-top: 16px;
}
.containerConnexion{
  width: 100%;
  background-color: rgba(13, 67, 108, 0.3);
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.social-buttons{
  width: 215px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 0px;
}

.btn-linkedin{
  line-height: 30px;
  height: 50px;
}

.fa-linkedin{
  padding-top: 6px;
}

.btn-linkedin>a{
  padding-top: 10px;
}

#line1, #ou, #line2{
  display: inline-block;
}

#line1, #line2{
  width: 60px;
}

#line1 {
  margin-right: 15px;
}

#ou {
  vertical-align: top;
  margin-top: 10px;
}

#line2 {
  margin-left: 15px;
}

#creerCompteManuellement {
    font-size: 11px;
    margin-bottom: 20px;
}

.contentConnexion{
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row{
  display: flex;
}
.firstname, .secondname{
  margin: 0;
width: 50%;
}


.validationButton{
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn{
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconeMail{
  background-image: image-url("iconeMail.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

/* ######## PROFIL PAGES ######## */

#mainProfil{
  background-color: #FBFBFB;
  width: 500px;
  margin: 0 auto;
}

#containerTitleProfil{
  position: fixed;
  top: 0px;
  width: 500px;
  z-index: 10000;
}

.containerProfil{
  color: #232323;
  padding-top: 50px;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
    border: 2px solid #FBFBFB;
}

.containerPhoto{
  width: 90px;
  margin: auto;
  margin-top: 10px;
  list-style: none;
}

#imageProfil{
  width: 90px;
  background-repeat: no-repeat;
  background-position: center center;
}

.dropdown-menu{
  min-width: 90px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: -100px !important;
}

.logOut{
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
  border: 2px solid #FBFBFB;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.logOut>a{
  margin-left: 10px !important;
}

#iconEdit2{
  width: 35px;
  float: right;
  margin-top: -60px;
  margin-right: 10px;
}

.nameProfil{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-top: 46px;
}

.skills{
  border-top: 1px solid #F4F4F4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.iconeSkills, .titleSkills{
  display: inline-block;
  font-Weight: bold;
}

#iconeSkills{
  width: 30px;
}

.love{
  border-top: 1px solid #F4F4F4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.iconeLove, .titleLove{
  display: inline-block;
  font-Weight: Bold;
}

#iconeLove{
  width: 30px;
}

.empty{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: fixed;
  background-color: #FBFBFB;
  z-index: -1;
}

.onglets{
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 500px;
}

.ongletChat, .ongletProfil{
  width: 250px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  border-top: #F4F4F4 solid 1px;
}

.ongletChat2, .ongletProfil2{
  width: 250px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  border-top: #F4F4F4 solid 1px;
}

.ongletChat{
  background-color: #FBFBFB;
}

.ongletChat2{
  background-color: #F4F4F4;
}

.ongletProfil{
  background-color: #F4F4F4;
}

.ongletProfil2{
  background-color: #FBFBFB;
}

#iconeChat{
  width: 70px;
  margin-top: 15px;
}

#iconeProfil{
  width: 40px;
  margin-top: 15px;
}


/* ######## CHAT PAGES ######## */

.containerMarc, .containerUser{
  display: inline-block;
}

.containerMarc{
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.photoMarc{

}

.containerUser{
  width: 90px;
  margin-left: -30px;
}

.photoUser{

}

.row{
  margin-top: 55px;
}

.messages-list{
  max-height: none !important;
  height: 50%;
  position: absolute;
  width: 95%;
}

.empty{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: fixed;
  background-color: #FBFBFB;
  z-index: -1;
}

.panel{
  height: 100%;
  position: fixed;
  width: 500px;
}

.write{
  position: fixed;
  bottom: 100px;
  width: 500px;
}

.areachat{
  width: 80%!important
}

.form-control, .sendChat{
  display: inline-block !important;
  vertical-align: middle !important;
}

.sendChat{
  padding: 14px 15px !important;
  margin-left: 5px !important;
}



/* ###########################*/
/* Link Devise */
/* ###########################*/
.containerlink{
  width: 100%;
  background-color: white;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


/* ###########################*/
/* QUERIES CONNEXION PAGES */
/* ###########################*/

@media screen and (max-width: 605px) {

  .container{
    width: 100%;
  }
  .row{
    display: block;
  }
  .form-group{
    width: 100%;
  }


  .containerTitle{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .containerConnexion{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
